@font-face {
    font-family: cartoon;
    src:url('font/cartoon.ttf');
}

body{
    text-align:center;
    margin: 0 auto;
    padding:0;
    overflow-x: hidden;
    /*background-image: url(img/1.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*-webkit-filter: blur(15px);*/
    /*-moz-filter: blur(15px);*/
    /*-o-filter: blur(15px);*/
    /*-ms-filter: blur(15px);*/
    /*filter: blur(15px);*/
}

.page-close{
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
    position: absolute;
}
.wcp-page{
    width: 100%;height: 90%;position: absolute;top:5%;
}
#container{
    background-image: url("../img/0.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
    /*position: fixed;*/
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
/*#header{*/
    /*width: 100%;*/
    /*!*height: 120px;*!*/
    /*!*top: 520px;*!*/
    /*z-index: 9;*/
    /*position: absolute;*/
    /*text-align: center;*/

    /*!*background-color: black;*!*/
/*}*/
#head{
    top: 0;
    /*position: absolute;*/
    height: 10%;
    width: 100%;
    display: inline-block;
    /*background-color: yellow;*/
}
#head ul{
    padding:0;
}
#head ul li{
    font-family: cartoon;
    cursor:pointer;
    color: black;
    font-size: 26px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 25px;
    padding:0;
    /*float: left;*/
    display: inline-block;
    list-style: none;
}
#whole{
    text-align: center;
    margin: 0 auto;
    position:absolute ;
    width: 100%;
    min-width: 1366px;
    height: 70%;
    top: 10%;
}
#body-two{
    left: 80px;
    position: absolute;
    padding: 0;
    height: 100%;
}
#bLeft{
    position: absolute;
    float: left;
    height: 60%;
    width: 120px;
    cursor:pointer;
    /*background-color: green;*/
}
#central{
    position: absolute;
    left: 120px;
    float: left;
    height: 400px;
}
.le {
    overflow: hidden;
    border: 10px solid white;
    width: 580px;
    height: 380px;
    position: absolute;
    float: left;
    /*background-color: blue;*/
}
.ri{
    position: absolute;
    left: 600px;;
    float: left;
    width: 300px;
    height: 400px;
    background-color: white;
    -webkit-filter: blur(15px);
       -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);

    -khtml-opacity: 0.85;
    filter:alpha(Opacity=85);
    -moz-opacity:0.85;
    opacity: 0.85;
}
.text{
    font-family: cartoon;
    font-size: 17px;
    height: 350px;
    width: 260px;
    position:absolute;
    left: 620px;
    top: 25px;
    word-wrap:break-word ;
    /*background-color: white;*/
    border-radius: 5px;
}
#bRight{
    left: 1020px;
    position: absolute;
    float: left;

    /*background-color: grey;*/
    height:400px;
    width: 120px;
    cursor:pointer;
}


#bLeft,#bRight{
    -khtml-opacity: 0.8;
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}
#footer{
    width: 100%;
    height: 15%;
    top: 80%;
    z-index: 9;
    position: absolute;
    text-align: center;
    background-color: black;
}
#foot{
    position: relative;
    min-width: 1366px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#foot #PRE{
    position: absolute;
    left: 0;
}
#PRE img{
    position: absolute;
    left: 0;
}
#foot #NEX{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
#NEX img{
    position: absolute;
    right: 0;
}
.Iright{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    /*filter:FlipH;*/
}
#foot ul{
    margin: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 90%;
    left: 5%;
    padding:0;
    /*margin-top:55px;*/
}
#foot ul li{
    position: relative;
    list-style: none;
    width: 20%;
    height: 100%;
    float: left;
}
.img{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
    -khtml-opacity: 0.7;
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity: 0.7;
    display: inline-block;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.active{
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}



.page-bac{
    display: none;
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}


.wmh-page{
    min-width: 620px;
    min-height: 600px;
    width: 58%;
    height: 100%;
    position: absolute;
    left: 18%;
    top: 0;
    padding: 0 3%;
    overflow: auto;
    background-color: #E0E0E0;
}
.mh-page-close{
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    top: 0;
}
.mh-page-whole{
    width: 100%;
    height: 100%;
}
.mh-page-com{
    width: 100%;
    height: 100%;
}
.mh-page-contain{
    background-color: red;
    height: 95%;
    width: 100%;
    box-shadow: 1px 1px 2px;
}
.mh-page-number{
    text-align: right;
    height: 5%;
    width: 100%;
}


.wzz-page{
    background: #222222;
    position: absolute;
    width: 100%;
    height: 90%;
    min-width: 1080px;
    min-height: 540px;
    top: 5%;
    left: 0;
}
.zz-page-close{
    top: 0;
    right: 20px;
}
.zz-page-contain{
    background-color: white;
    height: 95%;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 0;
}
.zz-page-num{
    background-color: black;
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}
.zz-page-num ul{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 30%;
    width: 40%;
    height: 100%;
}
.zz-page-num li{
    position: relative;
    float: left;
    height: 100%;
    width: 8%;
    padding: 0 1%;
    margin: 0;
    list-style: none;
    /*display:flex;*/
    /*align-items:center;*/
    /*justify-content:center;*/
    /*background: yellow;*/
}
.zz-page-num li div{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    color: black;
    background-color: #666666;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.zz-page-num li img{
    width: 100%;
    height: 100%;
}
.zz-page-num-first img{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
}
.zz-page-num-next img{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
}


.wdy-page{
    background-color: #262626;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    overflow: hidden;
}
.wdy-page-left{
    width: 70%;
    height: 100%;
    position: absolute;
    left: 5%;
}
.wdy-page-left-info{
    width: 100%;
    height: 5%;
    text-align: left;
    color: white;
}
.wdy-page-left-screen{
    width: 100%;
    height: 90%;
    background-color: #E0E0E0;
}
.wdy-page-left-bar{
    width: 100%;
    height: 5%;
}
.wdy-page-left-bar-button{
    color: white;
    font-size: 14px;
    line-height: 30px;
    width: 60px;
    height: 30px;
    float: right;
    margin-left: 10px;
}
.wdy-page-left-bar-button img{
    float: left;
    width: 30px;
    height: 30px;
}
.wdy-page-right{
    position: absolute;
    width: 22%;
    height: 85%;
    top: 0;
    left: 75%;
    padding: 3% 1% 5% 2%;
}
.wdy-page-right-all{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.wdy-page-right-movie{
    width: 100%;
    height: 18%;
    margin-top: 10px;
    /*background-color: #5bc0de;*/
}
.wdy-page-right-movie img{
    float: left;
    width: 40%;
    height: 98%;
    box-shadow: 1px 1px 1px;
}
.wdy-page-right-movie-desc{
    width: 55%;
    height: 100%;
    float: right;
}
.wdy-page-right-movie-desc p{
    color: #e8e8e8;
    padding: 0;
    margin: 0;
}
.wdy-page-right-movie-desc span{
    color: #E0E0E0;
}