/*顶栏*/
#headline{
    height: 100px;
    background-color: #132e41;
    top: 0;
    padding: 10px 0 10px 30px;
}
#administratorImg{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #0c4a71;
    float: left;
    margin-right: 40px;
}
#administratorImg img{
    width: 80px;
    height: 80px;
}
#adminInfo{
    font-size: 20px;
    color: #ffffff;
    padding: 10px 5px;
}
/*列表以及内容*/
#main{
    height: auto;
    min-height: 900px;
}

/*左列表*/
/*列表*/
.active{
    background-color: #5eacd2;
}
#left_line .glyphicon{
    float: right;
}
#left_line{
    /*min-width: 300px;*/
    width: 14%;
    min-height: 900px;
    background-color: #597397;
    color: #ffffff;
    float: left;
}
#studio_toggle,#product_toggle,#classify_toggle,#operation_toggle{
    display: none;
}
.main_ul,.sub_ul,.three_ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.main_ul li,.sub_ul li,.three_ul li{
    border-bottom: 1px solid #425671;
    padding: 20px;
    padding-left: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color .3s;
}
.main_ul li {
    padding-left: 40px;
    font-size: 20px;
}
.sub_ul li{
    background-color: #485d7a;
}
.three_ul li{
    background-color: #425671;
    border-bottom: 1px solid #35475f;
}
/*列表下方信息*/
#some_info{
    height: 500px;
    padding: 20px;
    text-align: center;
}
#some_word{
    font-size: 20px;
    color: #ffffff;
}
#some_word:hover{
    color: #ffffff;
    text-decoration: none;
}
.main_ul li:hover,.sub_ul li:hover,.three_ul li:hover{
    background-color: #5eacd2;
}

/*主体*/
#main_part{
    background-color: #ffffff;
    width: 86%;
    min-height: 900px;
    float: right;
    border: 40px solid #eaeef7;
    box-sizing: border-box;
    padding: 40px;
}
.index_txt{
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-family: "Microsoft YaHei UI",sans-serif;
    color: #6b6f72;
    width: 400px;
    height: 500px;
}
.index_txt span{
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -200px;
}

.page_head{
    font-size: 24px;
    margin-bottom: 10px;
    color: #485d7a;
}

.page_confirm{
    display: inline-block;
    /*min-width: 300px;*/
    /*min-height:160px;*/
    width: 20%;
    height:130px;
    text-align: center;
    cursor: pointer;
}
.page_confirm:hover{
    background-color: #d3e0f5;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;;
}
.page_confirm_img{
    width:70%;
    display: inline-block;
    vertical-align: middle;

}
.for_middle{
    display: inline-block;
    /*min-height:160px;*/
    height: 100%;
    vertical-align: middle;
}
#studio_table,#product_table,#news_table{
    text-align: center;
    width: 100%;
    border: 1px solid #e1e2e6;
}
#studio_table th,#product_table th,#news_table th{
    text-align: center;
    font-size: 20px;
    background-color: #f0f1f5;
    font-weight: normal;
    border: 1px solid #e1e2e6;
    padding: 20px 0;
}
#studio_table tr td,#product_table tr td,#news_table tr td{
    border: 1px solid #e1e2e6;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}



/*添加工作室*/
.cate_add{
    width: 100%;
    border: 1px dashed #e1e2e6;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 55px;
    margin-bottom: 5px;
}

.add_text{
    font-size: 20px;
    margin: 20px 0;
}
.add_title{
    clear:both;
    margin-top: 80px;
}
.add_navImg{
    margin-bottom: 50px;
}
.add_main{
    padding-left: 50px;
}
.add_input{
    padding: 5px 10px;
    color: #425671;
    border: 1px solid #e1e2e6;
    box-sizing: border-box;
    margin-left: 20px;
    width: 50%;
}
.add_input:hover{
    box-shadow: 0 0 10px #e1e2e6;
}
.add_pic_tip{
    color: #909195;
    cursor: pointer;
    margin-left: 20px;
}
.add_pic_pre{
    width: 80px;
    height: 80px;
    border: 1px solid #e1e2e6;
    padding: 5px;
    box-sizing: border-box;
}
.add_intro{
    resize: none;
    width:100%;
    padding: 10px;
    height: 200px;
    border: 1px solid #e1e2e6;
    box-sizing: border-box;
}
.add_choice{
    margin-left: 20px;
    width: 80px;border: 1px solid #e1e2e6;
    padding: 5px;
    color: #425671;
}
.add_choice ul{
    list-style: none;
    padding: 0;
}
.check_add,.check_delete{
    width: 120px;
    height: 50px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    transition: background-color .3s;
    float: right;
    font-size: 20px;
}
.check_add{
    background-color: #5eacd2;
}
.check_delete{
    background-color: red;
}
.check_add:hover,.check_delete:hover{
    background-color: #e1e2e6;
    color: #597397;
}

/*工作室信息*/
.info_show{
    width: 100%;
    padding: 20px;
    border: 1px dashed #e1e2e6;
    box-sizing: border-box;
    background-color: #f0f1f5;
}
.info_text{
    font-size: 20px;
    color: #425671;
    margin: 10px 0;
}
.info_img{
    height: 100px;
}
.studio_intro p,.product_intro p{
    font-size: 18px;
    color: #192533;
    text-indent: 2em;
    line-height: 2;
}


.clearfix{
    clear: both;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    color: #718dac;
    background-color: #f0f1f5;
}

.pagination{
    float: right;
}



/*登录*/
#login_box{
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 40px #5b5b5b;
    background-color: #ffffff;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    z-index: 9999;
}
.login_title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
#loginForm{
    margin: 30px 0;
}
.login_line{
    margin: 40px 0;
    text-align: left;
}
#forgetPwd{
    float: right;
}
#seePwd{
    float: right;
    margin-top: -28px;
    margin-right: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}
#loginBtn{
    padding: 10px 50px;
    border: none;
    background-color: #f98232;
    border-radius: 2px;
    margin:0 auto;
    color: #ffffff;
}
.login_tip{
    color: #ff5c5b;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
}
.login_background,.background{
    position: relative;
    bottom: 0;
    width: 70%;
}
.login_background img,.background img{
    width: 100%;
}

/*工作室审核*/
#agree,#disagree,#stu_disagree_sub,#my_change{
    float: right;
    margin: 10px;
    width: 100px;
}
#stu_disagree_reason span{
    font-size: 24px;
}
.disagree_reason{
    width: 100%;
    resize: none;
    height: 200px!important;
}
